.header{
    height: 100vh;
    background-color: #fffbe9;
}

.image{
    position: relative;
    height: 100vh;
    background-image: url('../../assets/images/header_original.jpg');
    background-size: cover;
    background-position: 0 -110px;
    background-attachment: fixed;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), white);
}

.title{
    margin-left: 50px;
    margin-bottom: 50px;
    width: 100%;
    font-size: 60px;
}

.header button{
    width: 25%;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    .image{
      background-size: cover;
      background-position: -250px 0;
    }
    .title{
     margin-left: 20px;
     margin-bottom: 20px;
     width: 95%;
     font-size: 40px;
   }
   .header button{
     width: 30%;
     font-size: 12px;
   }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
    .image{
      background-size: cover;
      background-position: -250px 0;
    }
}

 